body {
	margin: 0px;
	padding: 0px;
}

.Main {
	width: 100%;
	height: 6.8125vw;
}

.W-1 {
	margin-left: 15.625vw; 
	/* 21.875vw */
	margin-top: 3.125vw;
	float: left;
	color: #3c3d42;
}

.W-2 {
	margin-left: 2.1875vw;
	margin-top: 3.125vw;
	float: left;
	color: #3c3d42;
}

.W-3 {
	margin-left: 2.1875vw;
	margin-top: 3.125vw;
	float: left;
	color: #3c3d42;
}

.W-4 {
	margin-left: 2.1875vw;
	margin-top: 3.125vw;
	float: left;
	color: #3c3d42;
}

.W-5 {
	margin-left: 2.1875vw;
	margin-top: 3.125vw;
	float: left;
	color: #3c3d42;
}

.Phone-Number {
	margin-left: 18.875vw;
	margin-top: 3.125vw;
	float: left;
	color: #3c3d42;
}

.Email {
	margin-left: 2.8125vw;
	margin-top: 3.125vw;
	float: left;
	color: #3c3d42;
}

.B-2 {
	width: 100%;
	height: 45.625vw;
	background-image: url('../Images/Background-2-2.png');
	float: left;
}

.W-6 {
	margin-left: 15.5625vw;
	margin-top: 9.375vw;
	float: left;
	color: #ffffff;
	white-space: pre;
}

.W-7 {
	margin-left: -12.375vw;
	margin-top: 12.375vw;
	float: left;
	color: #ffffff;
	white-space: pre;
}

.Text-1 {
	width: 31.25vw;
	margin-left: -19.89vw;
	margin-top: 16vw;
	float: left;
	color: #8cb9c3;
	white-space: pre;
}

.But-1 {
	width: 15vw;
	height: 3.75vw;
	border: 0.125vw solid #90afb4;
	border-radius: 3.125vw;
	margin-left: -24.4375vw;
	/* 15.5625vw */
	margin-top: 24.8125vw;
	/* 25.8125vw */
	background-color: #fff0;
	float: left;
	color: #ffffff;
}

#Img-3 {
	max-width: 100%;
	height: auto;
}

.Smartphone-in-hand {
	max-width: 59.125vw;
	max-height: 38.125vw;
	margin-left: 29.6875vw;
	margin-top: -21.115vw;
	float: left;
}

.B-3 {
	width: 100%;
	height: 61.4375vw;
	background-color: #ffffff;
	float: left;
}

.W-8 {
	margin-left: 40.875vw;
	margin-top: 6.5vw;
	float: left;
	color: #636c6c;
}

.Text-2 {
	width: 53.75vw;
	margin-top: 2.8125vw;
	margin-left: 16.75vw;
	float: left;
	color: #bac1c1;
	white-space: pre;
}

.Heart {
	margin-left: -58.75vw;
	margin-top: 12.8125vw;
	float: left;
}

.W-9 {
	margin-left: -52.25vw;
	margin-top: 14.0625vw;
	float: left;
	color: #9fa9a9;
}

.Suitcase-small {
	margin-left: -58.75vw;
	margin-top: 21.8125vw;
	float: left;
}

.W-10 {
	margin-left: -52.25vw;
	margin-top: 23.0625vw;
	float: left;
	color: #9fa9a9;
}

.Selection-line {
	margin-left: -39.125vw;
	margin-top: 20.5625vw;
	float: left;
	position: relative;
	z-index: 2;
}

.Sheet {
	margin-left: -58.75vw;
	margin-top: 30.8125vw;
	float: left;
}

.W-11 {
	margin-left: -52.25vw;
	margin-top: 32.0625vw;
	float: left;
	color: #9fa9a9;
}

.Strange-image {
	margin-left: -58.75vw;
	margin-top: 39.8125vw;
	float: left;
}

.W-12 {
	margin-left: -52.25vw;
	margin-top: 41.0625vw;
	float: left;
	color: #9fa9a9;
}

.Umbrella {
	margin-left: -58.75vw;
	margin-top: 48.8125vw;
	float: left;
}

.W-13 {
	margin-left: -52.25vw;
	margin-top: 50.0625vw;
	float: left;
	color: #9fa9a9;
}

.Breeding-line {
	margin-left: -495px;
	margin-top: 115px; 
	float: left;
	position: relative;
	z-index: 1;
}

.Suitcase {
	margin-left: 354px;
	margin-top: 175px;
	float: left;
}

.B-4 {
	width: 100%;
	height: 51.3125vw;
	margin-top: 8.75vw;
	background-image: url('../Images/Background-4_Background-6.png');
	float: left;
}

.B-5 {
	width: 100%;
	height: 61.4375vw;
	background-color: #ffffff;
	float: left;
}

.B-6 {
	width: 100%;
	height: 71.1875vw;
	margin-top: 8.75vw;
	background-image: url('../Images/Background-4_Background-6.png');
	float: left;
}

.B-7 {
	width: 100%;
	height: 34.875vw;
	background-color: #ffffff;
	float: left;

}

.B-8 {
	width: 100%;
	height: 22.6875vw;
	background-image: url('../Images/Background-8.png');
	float: left;
}

.The-end-of-the-site {
	width: 100%;
	height: 19.25vw;
	background-image: url('../Images/Background-the-end-of-the-website.png');
	float: left;
}
