@font-face {
	font-family: 'Proxima Nova Bold';
	src: local('Proxima Nova Bold'), url('../Fonts-web-site-Smart-App/Proxima-Nova/Proxima-Nova-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway Regular';
	src: local('Raleway Regular'), url('../Fonts-web-site-Smart-App/Raleway/Raleway-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Socialico';
	src: local('Socialico'), url('../Fonts-web-site-Smart-App/Socialico/Socialico.ttf') format('truetype');
}

* {
	border: none;
	margin: 0;
	padding: 0;
	outline: none;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: black;
}

.Head-1 {
	width: 73.0625vw;
	height: 1.625vh;
	margin: 0 auto;
	padding-top: 2.625vh;
	padding-bottom: 3.425vh;
}

.Head-1 h1 a {
	float: left;
	font-family: 'Proxima Nova Bold';
	font-size: 1.875vh;
	color: #3c3d42;
}

.Head-1 h1 a:hover {
	color: black;
}

.Navi-2 h2 a {
	margin-left: 2.125vw;
	padding-top: 0.775vh;
	float: left;
	font-family: 'Raleway Regular';
	font-size: 0.875vh;
	color: #3c3d42;
}

.Navi-2 h2 a:hover {
	color: black;
}

.Di-14 {
	float: right;
}

.Head-1 img {
	padding-top: 0.775vh;
	float: left;
}

.Head-1 h3 {
	padding-top: 0.775vh;
	float: left;
}

.Phone-img {
	width: 0.9375vw;
	height: 0.875vw;
}

.Phone-number {
	margin-left: 0.625vw;
	font-family: 'Raleway Regular';
	font-size: 0.875vw;
	color: #3c3d42;
}

.Email-img {
	width: 1.125vw;
	height: 0.8125vw;
	margin-left: 2.4375vw;
}

.Email {
	margin-left: 0.75vw;
	font-family: 'Raleway Regular';
	font-size: 0.875vw;
	color: #3c3d42;
}

.B-2 {
	background-size: cover;
	background-position: center center; 
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-image: url('../Images-of-a-web-site-Smart-App/Background-2.png');
}

.W-6 {
	font-family: 'Raleway Regular';
	font-size: 2.25vw;
	font-weight: 700;
	color: #ffffff;
}

.W-7 {
	font-family: 'Raleway Regular';
	font-size: 2.25vw;
	font-weight: 300;
	color: #ffffff;
}

.Text-1 {
	width: 30.5625vw;
	height: 5.875vw;
	font-family: 'Raleway Regular';
	line-height: 1.5vw;
	font-size: 0.875vw;
	color: #9dc7d1;
}

.But-1 {
	width: 15vw;
	height: 3.75vw;
	border: 0.125vw solid #90afb4;
	border-radius: 3.125vw;
	background-color: transparent;
	cursor: pointer;
}

.But-1-word {
	font-family: 'Raleway Regular';
	font-size: 1.3125vw;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	cursor: pointer;
}

.Smartphone-in-hand {
	width: 59.125vw;
	height: 38.125vw;
}

.B-3 {
	height: 60.4375vh;
}

.W-8 {
	font-family: 'Raleway Regular';
	font-size: 2.25vw;
	font-weight: 700;
	color: #636c6c;
}

.Text-2 {
	width: 53.75vw;
	height: 5.625vw;
	font-family: 'Raleway Regular';
	font-size: 1vw;
	line-height: 1.5vw;
	color: #afb8b8;
}

.Heart {
	width: 2.6875vw;
	height: 2.375vw;
	cursor: pointer;
}

.W-9 {
	font-family: 'Raleway Regular';
	font-size: 1.25vw;
	color: #9fa9a9;
	cursor: pointer;
}

.Suitcase-small {
	width: 2.75vw;
	height: 2.25vw;
	cursor: pointer;
}

.W-10 {
	font-family: 'Raleway Regular';
	font-size: 1.25vw;
	color: #9fa9a9;
	cursor: pointer;
}

.Sheet {
	width: 2.8125vw;
	height: 2.25vw;
	cursor: pointer;
}

.W-11 {
	font-family: 'Raleway Regular';
	font-size: 1.25vw;
	color: #9fa9a9;
	cursor: pointer;
}

.Strange-image {
	width: 1.125vw;
	height: 2.25vw;
	cursor: pointer;
}

.W-12 {
	font-family: 'Raleway Regular';
	font-size: 1.25vw;
	color: #9fa9a9;
	cursor: pointer;
}

.Umbrella {
	width: 2.8125vw;
	height: 2.375vw;
	cursor: pointer;
}

.W-13 {
	font-family: 'Raleway Regular';
	font-size: 1.25vw;
	color: #9fa9a9;
	cursor: pointer;
}

.Breeding-line {
	width: 0.125vw;
	height: 37.5625vw;
	z-index: 1;
}

.Selection-line-suitcase {
	width: 0.75vw;
	height: 5.0625vw;
	z-index: 2;
}

.Suitcase {
	width: 12.375vw;
	height: 10.3125vw;
}

.W-14 {
	font-family: 'Raleway Regular';
	font-size: 1.5vw;
	font-weight: 700;
	color: #636c6c;
}

.Text-3 {
	font-family: 'Raleway Regular';
	font-size: 1vw;
	line-height: 1.5vw;
	color: #afb8b8;
}

.B-4 {
	height: 51.3125vh;
	background-color: #f2f9fe;
}

.W-15 {
	font-family: 'Raleway Regular';
	font-size: 2.25vw;
	font-weight: 700;
	color: #5dca88;
}

.Line-B-4 {
	width: 6.5vw;
	height: 0.125vw;
}

.W-16 {
	font-family: 'Raleway Regular';
	font-size: 2.25vw;
	color: #8c9494;
}

.Text-4 {
	font-family: 'Raleway Regular';
	font-size: 1vw;
	line-height: 1.5vw;
	color: #8c9494;
}

.But-2 {
	width: 15vw;
	height: 3.75vw;
	background-color: transparent;
	border: 0.1875vw solid rgba(99,108,108,0.5);
	border-radius: 1.875vw;
	cursor: pointer;
}

.But-2:hover {
	background-color: rgba(99,108,108,0.5);
}

.But-2-words {
	text-transform: uppercase; 
	font-family: 'Raleway Regular';
	font-size: 1.3125vw;
	font-weight: 700;
	color: #636c6c;
	cursor: pointer;
}

.Smartphone-B-4 {
	width: 23.75vw;
	height: 43.5vw;
}

.B-5 {
	height: 61.4375vh;
}

.W-17 {
	font-family: 'Raleway Regular';
	font-size: 2.25vw;
	font-weight: 700;
	color: #636c6c;
}

.Text-5 {
	width: 53.75vw;
	height: 5.625vw;
	font-family: 'Raleway Regular';
	font-size: 1vw;
	line-height: 1.5vw;
	color: #afb8b8;
}

.Left-arrow {
	width: 1.8125vw;
	height: 3.0625vw;
	cursor: pointer;
}

.Smartphone-B-5-1 {
	width: 18.5vw;
	height: 38.875vw;
}

.Smartphone-B-5-2 {
	width: 18.5vw;
	height: 38.875vw;
}

.Smartphone-B-5-3 {
	width: 18.5vw;
	height: 38.875vw;
}

.Right-arrow {
	width: 1.8125vw;
	height: 3.0625vw;
	cursor: pointer;
}

.Text-6 {
	font-family: 'Raleway Regular';
	font-size: 0.875vw;
	line-height: 1.5vw;
	color: #8c9494;
}

.Text-7 {
	font-family: 'Raleway Regular';
	font-size: 0.875vw;
	line-height: 1.5vw;
	color: #8c9494;
}

.Text-8 {
	font-family: 'Raleway Regular';
	font-size: 0.875vw;
	line-height: 1.5vw;
	color: #8c9494;
}

.B-6 {
	height: 71.1875vh;
	background-color: #f2f9fe;
}

.Smartphones-B-6 {
	width: 31.9375vw;
	height: 43.5vw;
}

.W-18 {
	font-family: 'Raleway Regular';
	font-size: 2.25vw;
	font-weight: 700;
	color: #5dca88;
}

.Line-B-6 {
	width: 6.5vw;
	height: 0.125vw;
}

.W-19 {
	font-family: 'Raleway Regular';
	font-size: 2.25vw;
	color: #8c9494;
}

.Text-9 {
	font-family: 'Raleway Regular';
	font-size: 1vw;
	line-height: 1.5vw;
	color: #8c9494;
}

.But-3 {
	width: 15vw;
	height: 3.75vw;
	background-color: transparent;
	border: 0.1875vw solid rgba(99,108,108,0.5);
	border-radius: 1.875vw;
}

.But-3:hover {
	background-color: rgba(99,108,108,0.5);
}

.But-3-words {
	text-transform: uppercase; 
	font-family: 'Raleway Regular';
	font-size: 1.3125vw;
	font-weight: 700;
	color: #636c6c;
	cursor: pointer;
}

.B-7 {
	height: 34.875vh;
}

.W-20 {
	font-family: 'Raleway Regular';
	font-size: 2.25vw;
	font-weight: 700;	
	line-height: 1.5vw;
	color: #636c6c;
}

.User {
	width: 6.25vw;
	height: 6.25vw;
	border-radius: 3.125vw;
}

.W-21 {
	font-family: 'Droid Serif';
	font-style: italic;
	font-weight: 400;
	font-size: 1.5vw;
	line-height: 1.5vw;
	color: #8c9494;
}

.W-22 {
	font-family: 'Raleway Regular';
	font-size: 1.5vw;
	line-height: 1.5vw;
	color: #5dca88;
}

.Dot-1 {
	width: 0.625vw;
	height: 0.625vw;
	cursor: pointer;
}

.Dot-2 {
	width: 0.625vw;
	height: 0.625vw;
	cursor: pointer;
}

.Dot-3 {
	width: 0.625vw;
	height: 0.625vw;
	cursor: pointer;
}

.B-8 {
	padding-bottom: 7.5625vh;
	background-color: #f3f5f5;
}

.Newsletter {
	width: 27.0625vw;
	height: 1.6875vw;
	margin: 0 auto;
	padding-top: 5.9375vh;
}

.Newsletter img {
	float: left;
}

.Email-B-8 {
	width: 2.0625vw;
	height: 1.6875vw;
	padding-right: 1.4375vw;
}

.W-23 {
	width: 27.0625vw;
	height: 1.625vh;
	padding-top: 0.625vh;
	font-family: 'Raleway Regular';
	font-weight: 700;
	font-size: 2.25vh;
	line-height: 1.5vh;
	color: #8c9494;
}

.Form-1 {
	width: 48.125vw;
	height: 3.735vh;
	border: 0.125vh solid #bbc3c2;
	border-radius: 1.875vh;
	margin: 0 auto;
	margin-top: 3.75vh;
}

.The-input-field-e-mail {
	width: 35.525vw;
	height: auto;
	margin-left: 2.0625vw;
	margin-top: 0.885vh;
	background-color: #f3f5f5;
}

.Inp-sub {
	width: 10.625vw;
	height: 3.75vh;
	border-radius: 1.875vh;
	position: absolute;
	background-color: #5dca88;
	text-transform: uppercase;
	font-family: 'Proxima Nova Bold';
	font-size: 1.25vh;
	line-height: 1.5vh;
	color: white;
	cursor: pointer;
}

.The-end-of-the-site {
	background-color: #2d312f;
}

.W-24 {
	width: 13.5625vw;
	height: 1.4375vh;
	margin: 0 auto;
	padding-top: 4.6875vh; 
	text-align: center;
	font-family: 'Raleway Regular';
	font-size: 1.5vh;
	line-height: 1.5vh;
	color: #8c9494;
}

.Navi-social {
	width: 30vw;
	height: 2.625vh;
	margin: 0 auto;
	margin-top: 2.125vh;
	text-align: center;
	cursor: default;
}

.NS-1 {
	font-family: 'Socialico';
	font-size: 3.75vh;
	line-height: 1.5vh;
	letter-spacing: 0.475vw;
	color: #5d6461;
}

.NS-1:hover {
	color: #3b5999;
}

.NS-2 {
	font-family: 'Socialico';
	font-size: 3.75vh;
	line-height: 1.5vh;
	letter-spacing: 0.475vw;
	color: #5d6461;
}

.NS-2:hover {
	color: #41abe1;
}

.NS-3 {
	font-family: 'Socialico';
	font-size: 3.75vh;
	line-height: 1.5vh;
	letter-spacing: 0.475vw;
	color: #5d6461;
}

.NS-3:hover {
	color: #de5246;
}

.NS-4 {
	font-family: 'Socialico';
	font-size: 3.75vh;
	line-height: 1.5vh;
	letter-spacing: 0.475vw;
	color: #5d6461;
}

.NS-4:hover {
	color: #ff0084;
}

.NS-5 {
	font-family: 'Socialico';
	font-size: 3.75vh;
	line-height: 1.5vh;
	color: #5d6461;
}

.NS-5:hover {
	color: #ff0000;
}

.Navi-end {
	width: 21.35vw;
	height: 0.875vh;
	margin: 0 auto;
	margin-top: 4.375vh;
	padding-bottom: 3.0625vh;
	text-align: center;
}

.Navi-end a:first-child {
	margin-left: 0;
}

.Navi-end a {
	margin-left: 1.15vw;
	font-family: 'Raleway Regular';
	font-size: 0.875vh;
	line-height: 1.5vh;
	color: #8c9494;
}

.Navi-end a:hover {
	color: white;
}